body {
    background-color: #d140ad;
    text-align: center;
}

#hroles {
    border-top: 5px solid #0cb6e1;
    text-align: center;
    background-color: rgb(227, 18, 235);
    font-size: 40px;
    color: rgb(0, 0, 0);
}

#hlistar {
    text-align: center;
    font-size: 30px;
}

#divnuevo {
    text-align: center;
}

#anuevo {
    border-radius: 10px;
    background-color: #f0e110;
    color: rgb(138, 1, 1);
    font-size: 20px;
    border: 3px solid #63e20eb2;
}

#aeditar {
    border-radius: 10px;
    background-color: #05b0a7;
    border: 3px solid #0a0c9c;
    color: rgb(15, 169, 216);
}

#aeliminar {
    border-radius: 10px;
    background-color: rgb(122, 7, 7);
    border: 3px solid #000000;
    color: white;
}

#pie {
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 5px solid #0d5a5c;
    background-color: rgb(7, 144, 168);
    color: white;
}